 @import "../../index.module.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-bottom: 100px;
    margin: 0 auto;
}
.game {
    width: 80%;
    margin: 0 auto;
}
.navigations {
    display: flex; 
    align-items: center; 
    &_text {
        color: $secondary-text-color;
    }
    &_attribute {
        color: $secondary-text-color;
    }
    &_text:hover {
        cursor: pointer;
        color: $tertiary-text-color;
    }
} 
.content { 
    display: flex; 
    margin: 0 auto;
    max-width: 80%;
}
.title {
    display: flex;
    justify-content: center;
    font-size: $fs-bigger-main;
}
.platforms {
    display: flex;
    justify-content: center;
    gap: 30px; 
}
 
.item {   
    display: flex;
    justify-content: center;
    align-items: center;
    color : black; 
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.pictures {
    margin: 20px auto; 
    & img { 
        opacity: 0.6;
        width: 100%;
        border-radius: 25px;
    }
}
.descriptions { 
    max-width: 100%;
    font-weight: 200;  
    font-size: $fs-main;
    word-break: break-all; 
    & h2 {
        font-size: $fs-main-title;
        padding: 0;
        margin: 0;
        text-align: center;
    }
} 

.about{
    margin: 20px auto;
    display: flex;  
    flex-wrap: wrap;
    gap: 40px;
    max-width: 100%;
    font-weight: 200;  
    font-size: $fs-main;
    justify-content: center;
    color: $tertiary-text-color;
    &_title {
        font-weight: 400;
        color: $general-text-color;
    }
    &_item {
         text-align: center;
    }
}
.tags {  
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: 50px;
    font-weight: 200; 
    font-size: $fs-main;
    color: $tertiary-text-color;
    &_title {
        font-weight: 400;
        color: $general-text-color;
    }  
    &_items{
        display: flex;
        justify-content: center;
        max-width: 80%;
        font-size: $fs-main;
        flex-wrap: wrap;
        gap:20px; 
    }
    &_p:hover {
        cursor: pointer;
        color:$general-text-color;
    }
     
}

.slider {  
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    &_title {
        margin-bottom: 25px;
    }
}


@media screen and (max-width: $mid-size-primary){
    .navigations {
        font-size: $fs-low-resolution;
        justify-content: center;
    }
    .title {
        font-size: $fs-main;
    }
     .about {
        
        word-break: break-all; 
        flex-wrap: wrap;
        font-size:  $fs-low-resolution;
     }
     .description_text { 
        font-size: $fs-low-resolution;
    }
     .pictures {
        width: 100%;
     }
     .slider {
        width: 80%;
     }
     .tags_items {
        font-size:  $fs-low-resolution;
     }
}

@media screen and (max-width: $min-size-primary){
   .wrapper {
    width: 100%;
   }
   .navigations {
   display: none;
}
.about{
    flex-direction: column;
}
}

