@import "../../index.module.scss";

.filters{
    display: flex;  
    gap: 40px; 
    width: 80%; 
    margin: 0 auto;
    justify-content: center;
    &__button {
        display: flex;  
        align-items: center; 
        justify-content: center;
        gap: 20px; 
        width: 250px;
        font-weight: 200;
        font-size: $fs-low-resolution;
        background-color: $bgc-card;
        color: white; 
        border-radius: 5px;  
        padding: 10px 10px;
    }
} 
.block {
    display: flex;  
    align-items: center; 
    padding-top: 10px;
    padding-bottom: 5px;
    flex: 1;
    &__title {
        font-size: $fs-low-resolution; 
        color: $tertiary-text-color; 
    }
    &__subtitle {  
        color: white;
        padding-left: 12px;
        flex: 1;
    } 
}
.pictures { 
    display: flex;
    align-self: center;
    padding-top: 5px; 
    padding-right: 12px; 
}
.image {
    width:10px;
    
    &:hover{
        fill: $tertiary-text-color;
        cursor: pointer;
    }
}
.arrow {
    color: $tertiary-text-color;
    &:hover {
        color: $general-text-color;
        cursor: pointer;
    }
}
 
@media screen and (max-width: $mid-size-primary){
  .filters {
    flex-direction: column;
    align-items:center;
    gap:5px;
  }
}

@media screen and (max-width: $min-size-primary){
    .filters {
      width: 200px;
    }
    .filters__button {
        max-width: 200px;
    }
  }

@media screen and (max-width: $mobile-size-primary){
    .filters {
      width:100%;
    }
    .filters__button {
        width:100%;
    }
  }