@import "../../index.module.scss";

.filters{
    display: flex;  
    width: 80%; 
    &__button {
        width: fit-content; 
        width: 300px;
        background-color: $bgc-card;
        color: white; 
        border-radius: 5px; 
    }
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
    
    &__title {
        font-size: 12px; 
        color: $tertiary-text-color
    }
    &__subtitle { 
        flex: 1;
        margin-left: 10px;
        color: white;
    }
}