@import "../../index.module.scss";

.leftMenu {
    position: sticky; 
    top: 25px;
    width: 220px; 
    display: flex;
    flex-direction: column;
    align-items: center;
 
    @media only screen and (max-width: $min-size-primary) {
        width: 100px;
        
       }
    &_sidebar_title {
        font-size: $fs-lm-main; 
        transition: color 0.4s ease-in-out;
        display: flex; 
        justify-content: center;
        &:hover {
            color: $secondary-text-color;
            cursor: pointer;
        }

        @media only screen and (max-width: $min-size-primary) {
           font-size: $fs-low-resolution;
           
          }
    } 
}
.items {
    display: flex;
    flex-direction: column;  
}
 

@media only screen and (max-width: $mobile-size-primary) {
    .leftMenu {
        width: 70px;
    }
   }
 