@import "../../index.module.scss";

.leftMenu {
    width: 220px; 
    display: flex;
    flex-direction: column;
    align-items: center;
 
    @media only screen and (max-width: $min-size-primary) {
        width: 100px;
        
       }
    &_sidebar_title {
        font-size: $fs-lm-main; 
        transition: color 0.4s ease-in-out;
        display: flex; 
        justify-content: center;
        &:hover {
            color: $secondary-text-color;
            cursor: pointer;
        }

        @media only screen and (max-width: $min-size-primary) {
           font-size: 10px;
           
          }
    } 
}
.items {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

 