@import "../../index.module.scss"; 

.header{  
    display: flex; 
    justify-content: space-between;
    align-items: center; 
} 
.logo {
    width: 200px; 
    transition: opacity 0.3s ease-in-out;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    & img {
        width: 100%;
    }
}
.search {
    display: flex;  
    padding: 0 15px;
    gap: 10px;
    width: 100%;
}
.search_input {
    width: 100%; 
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: $bgc-card;
    transition: background-color 0.5s ease-in-out;
    color: white;
    &:hover {
        background-color: #fff;
        color: black;
    }
}

.button {
    width: 100px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: $bgc-card;
    transition: background-color 0.5s ease-in-out; 
    color: #fff;
    &:hover {
        cursor: pointer;
        background-color: #fff;
        color: black;
    }
}

@media screen and (max-width: $min-size-primary){
    .search {
        font-size:$fs-low-resolution;
    }
    .button{
        font-size: $fs-low-resolution;
    }
}
 