@import "../../index.module.scss";

.card{  
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: $bgc-card; 
    border-radius: 10px; 
    transition: scale 0.3s ease-in-out;
    &:hover { 
        scale: 1.01;
    }
}
.pictures {  
    width: 100%;   
    & img {  
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%; 
        height: 220px; 
        object-fit: cover; 
    }
    & span {
        width: 100%;
    }
}
.card__footer {
    width: 90%;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center;
}
.platforms {
    width: 100%; 
    &_items {
        display: flex; 
        gap:5px;
        margin-left: 5px;
    }
} 
.description {
    width: 100%;
    margin-top: 15px;
    padding-bottom: 15px;
    &__items{
        font-size: 10px;
        font-weight: 200;
        color: $tertiary-text-color;

    }
    &__item { 
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $secondary-text-color; 
        padding-top: 5px;
        padding-bottom: 5px; 
    }
    &__genres {
        display: flex;
        flex-grow: 3;
        flex-wrap: wrap;
        justify-content: end;  
    }
}